@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f1115;
  --foreground: #e2e8f0;
  --font-liebling: 'Liebling', sans-serif;
}

@layer base {
  html {
    font-family: var(--font-liebling);
  }
  
  body {
    background-color: var(--background);
    color: var(--foreground);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #1a1d24;
}
::-webkit-scrollbar-thumb {
  background: #233357;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2F7C46;
}

@font-face {
  font-family: 'Liebling';
  src: url('/fonts/Liebling.woff2') format('woff2'),
       url('/fonts/Liebling.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
